&
    background: $body-color
    height: 100vh
    overflow: hidden
    color: $theme-foreground

.handwritten
    font-family: 'Handlee', cursive

.logo-font
    font-family: 'Combo', cursive !important

.uk-icon
    color: $theme-foreground

.clickable
    cursor: pointer

.inverted-background
    background: $body-inv-color